#!/usr/bin/make -f
#SPDX-License-Identifier: EPL-2.0
#Copyright 2018 DaSoftver LLC.

%:
	dh $@

#on ubuntu22, default compression is zstd, however dkpg-sig doesn't yet
#know about. Go with xz.
override_dh_builddeb:
	dh_builddeb -- -Zxz

